* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: white;
}

:root {
  /* Fontes */
  --font-asap: 'Asap', sans-serif;
  --font-inconsolata: 'Inconsolata', monospace;
  --font-maven: 'Maven Pro', sans-serif;

  /* Títulos - Asap */
  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-sm: 700 16px/120% var(--font-asap);

  /* Subtítulo - Inconsolata */
  --subtitle: 400 20px/120% var(--font-inconsolata);

  /* Textos - Maven Pro */
  --text-md: 400 16px/140% var(--font-maven);
  --text-sm: 400 14px/140% var(--font-maven);


  /* === Line Heights === */
  --lh-120: 120%;
  --lh-140: 140%;

  /* === Font Weights === */
  --weight-bold: 700;
  --weight-regular: 400;

  /* === Primary Colors === */
  --color-red: #E3646E;
  --color-purple: #BB72E9;
  --color-blue: #3996DB;
  --color-green: #82BC4F;
  --color-yellow: #EABD5F;

  /* === Base Colors === */
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;
}
